<% provide(:title, 'Om') %>
<% @hide_ad=true %>
<div id="about-container">
  <div id="upper-about">
    <h1>Om Foodl</h1>

    <p>
      <a href="http://foodl.dk">Foodl</a> er en webapplikation, der er udviklet
      af seks ulønnede datalogistuderende fra Aalborg Universitet i forbindelse
      med et tredje semesters projektforløb. Foodl blev udviklet hen over 4
      måneder i efteråret 2012. Projektforløbet varede fra 3. september til 20.
      december.
    </p>

    <p>
      Idéen bag Foodl kom frem som et resultat af det problembaserede arbejde
      omkring madspild. Foodl har til formål at give brugeren mulighed for at
      indtaste madrester eller råvarer, som brugeren ønsker at bruge til
      madlavning. Når der bliver foretaget en søgning, så bliver brugeren
      præsenteret med søgningsresultater i form af opskrifter, der indeholder
      de indtastede råvarer.
    </p>

    <p>
      Problemet med madspild er et meget stort område.
      <a href=" http://politiken.dk/tjek/tjekmad/produktion/ECE1636012/danskere-smider-42-kilo-god-mad-ud-om-aaret/">
        En undersøgelse fra Miljøministeriet
      </a> viser, at danske parcelhusejere smider 42 kilo spiseligt
      mad ud om året. Vi valgte at fokusere på,
      hvordan det vil være muligt at mindske madspild i danske husstande.
    </p>
  </div>

  <div id="lower-about">
	<h1>Foodls udviklere</h1>
	<ul>
		<li><%= image_tag "foodl-kontakt/Niels.jpg" %>Niels - CTO</li>
		<li><%= image_tag "foodl-kontakt/Martin.jpg" %>Martin - CEO</li>
		<li><%= image_tag "foodl-kontakt/Sebastian.jpg" %>Sebastian - </li>
		<li><%= image_tag "foodl-kontakt/Kent.jpg" %>Kent - </li>
		<li><%= image_tag "foodl-kontakt/Simon.jpg" %>Simon - </li>
		<li><%= image_tag "foodl-kontakt/Elias2.jpg" %>Elias - Foodl Ambassadør</li>
	</ul>
	<div style="clear:both"></div>
  </div>
  
</div>
