<div id="outer-contact">

  <h1>Kontakt</h1>
  <p> Kontakt os per <a href="mailto:kontakt@foodl.dk">mail</a>. </p>

  <div class="left-contact">
    <div class="contacts">
      <%=image_tag "Niels.jpg" %>
    </div>
    <p> Niels - CTO </p>
  </div>

  <div class="right-contact">
    <div class="contacts">
      <%=image_tag "Martin.jpg" %>
    </div>
    <p> Martin - CEO </p>
  </div>

  <div class="left-contact">
    <div class="contacts">
      <%=image_tag "Sebastian.jpg" %>
    </div>
    <p> Sebastian -  </p>
  </div>

  <div class="right-contact">
    <div class="contacts">
      <%=image_tag "Kent.jpg" %>
    </div>
    <p> Kent -  </p>
  </div>

  <div class="left-contact">
    <div class="contacts">
      <%=image_tag("Simon.jpg") %>
    </div>  
    <p> Simon -  </p>
  </div>

  <div class="right-contact">
    <div class="contacts">
      <%=image_tag("Elias.jpg", :alt => "Elias") %>
    </div>
    <p> Elias -  </p>
  </div>
</div>