<div id="outer-contact">

  <h1>Kontakt</h1>
  <p> Kontakt os per <a href="mailto:kontakt@foodl.dk">mail</a>. </p>

  <div class="left-contact">
    <div class="contacts">
      <%= image_tag "foodl-kontakt/Niels.jpg", class: 'contact-picture' %>
    </div>
    <p> Niels - CTO </p>
  </div>

  <div class="right-contact">
    <div class="contacts">
      <%= image_tag "foodl-kontakt/Martin.jpg", class: 'contact-picture' %>
    </div>
    <p> Martin - CEO </p>
  </div>

  <div class="left-contact">
    <div class="contacts">
      <%= image_tag "foodl-kontakt/Sebastian.jpg", class: 'contact-picture' %>
    </div>
    <p> Sebastian -  </p>
  </div>

  <div class="right-contact">
    <div class="contacts">
      <%= image_tag "foodl-kontakt/Kent.jpg", class: 'contact-picture' %>
    </div>
    <p> Kent -  </p>
  </div>

  <div class="left-contact">
    <div class="contacts">
      <%= image_tag "foodl-kontakt/Simon.jpg", class: 'contact-picture' %>
    </div>  
    <p> Simon -  </p>
  </div>

  <div class="right-contact">
    <div class="contacts">
      <%=image_tag "foodl-kontakt/Elias.jpg" %>
    </div>
    <p> Elias -  </p>
  </div>
</div>