<footer>
  <nav>
  <a href="#">Rapport&eacute;r fejl</a>
  <%= link_to "Om Foodl", :controller => "home", :action => "about" %>
  <%= link_to "Kontakt Foodl", :controller => "home", :action => "contact" %>
  </nav>
</footer>

<div id="loading">
  <div class="img">
    <img src="<%=image_path "grimanimation.gif" %>" alt="Vent venligst..." />
  </div>
  <div>
    Vent venligst...
  </div>
</div>

<div id="notification">
</div>

<script type="text/javascript">
<% flash.each do |key, value| %>
  flashMessage("<%=value.to_s.gsub('"', '\"') %>", "<%=key.to_s.gsub('"', '\"') %>", 10000);
<% end %>
</script>
