<header>
  <a href="<%=url_for :controller => 'search', :action => 'index' %> ">
    <%=image_tag("header_logo.png", :alt => "Foodl") %>
  </a>
  <nav>
    <%= link_to "indkøbsliste #{listCount}", list_path %>
    <a href="#">favoritter (0)</a>
    <% if logged_in? %>
        <%= link_to "indstillinger", '#' %>
        <%= link_to "log ud", logout_path , method: "delete" %>
    <% else %>
        <%= link_to "log ind / opret bruger", login_path %>
    <% end %>
  </nav>
</header>
