<header>
  <a href="<%=url_for :controller => 'search', :action => 'index' %> ">
    <%=image_tag("header_logo.png", :alt => "Foodl") %>
  </a>
  <nav>
    <a href="<%= url_for controller: 'shopping_list', action: 'index' %>">indkøbsliste
      (<span id="num_list_items"><%= listCount %></span>)
    </a>

    <a href="<%=url_for :controller => 'favorites', :action => 'index' %>">favoritter
      (<span id="num_favorites"><%=num_favorites %></span>)
    </a>
    <% if logged_in? %>
        <%= link_to "indstillinger", edit_user_path(current_user) %>
        <%= link_to "log ud", logout_path , method: "delete" %>
    <% else %>
        <%= link_to "log ind / opret bruger", login_path %>
    <% end %>
  </nav>
</header>

<% if toolbar? %>
  <%= render 'layouts/toolbar' %>
<% end %>

<img src="https://www.google.com/help/hc/images/adsense/adsense_185665_adformat-text_728x90_en.png" alt="ad" >

