<header>
  <a href="<%=url_for :controller => 'search', :action => 'index' %> ">
    <%=image_tag("header_logo.png", :alt => "Foodl") %>
  </a>
  <nav>
    <%= link_to "indkøbsliste #{listCount}", list_path %>
    <a href="<%=url_for :controller => 'favorites', :action => 'index' %>">favoritter
      (<%=num_favorites %>)
    </a>
    <% if logged_in? %>
        <%= link_to "indstillinger", edit_user_path(current_user) %>
        <%= link_to "log ud", logout_path , method: "delete" %>
    <% else %>
        <%= link_to "log ind / opret bruger", login_path %>
    <% end %>
  </nav>
</header>

<% if toolbar? %>
  <%= render 'layouts/toolbar' %>
<% end %>

<% if show_ad? %>
	<img src="http://placehold.it/728x90/dee8d9/000000&text=Reklamer!!!" alt="ad" >
<% end %>

