<% provide(:title, '') %>
<!DOCTYPE html>
<html>
<head>
  <title>Foodl <%= yield(:title) %></title>
  <link rel="shortcut icon" href="favicon.ico" />
  <link href='http://fonts.googleapis.com/css?family=Ropa+Sans|Titillium+Web:400,400italic,600,600italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development?  %>
  </div>
</body>
</html>
