<!DOCTYPE html>
<html>
<head>
  <title>Foodl</title>
  <link rel="shortcut icon" href="favicon.ico" />
  <link href='http://fonts.googleapis.com/css?family=Ropa+Sans|Titillium+Web:400,400italic,600,600italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development?  %>
</body>
</html>
