<% recipes.each do |recipe| %>
<li>
  
  <% if has_favour?( recipe.id ) %>
    <a href="<%= url_for controller: :favorites, action: :remove, id: recipe.id %>" class="favour-button favoured">Fjern opskrift fra favoritter</a>
  <% else %>
    <a href="<%= url_for controller: :favorites, action: :add, id: recipe.id %>" class="favour-button">Tilføj opskrift til favoritter</a>
  <% end %>
  <a href="#" class="shopping-button" data-id="<%= recipe.id %>">Tilføj til indkøbsliste</a>
  
  <h2><a href="<%= recipe.url %>"><%= recipe.name %></a></h2>
  <a href="<%= recipe.url %>">
    <img src="<%= url_for controller: :recipes, action: :picture, id: recipe.id %>" alt="Færdiglavet ret">
  </a>
  <div class="rating">
    <div style="width:<%= (recipe.calculate_rating ? recipe.calculate_rating : 0) * 100 %>%;"></div>
  </div>
  
  <% if search %>
    <p class="relevance"><%= recipe.relevance %> <%= plural( recipe.relevance, "ingrediens", "ingredienser" ) %> matcher</p>
  <% end %>
  <ul>
    <% recipe.ingredients.each do |ingredient| %>
      <% if id_match?( search, ingredient.food_type_id ) %>
    <li class="in_search">
      <% else %>
    <li>
      <% end %>
      <% if ingredient.quantity > 0 #TODO: brug antal personer! %>
        <span data-value="<%= ingredient.quantity %>"><%= format_quantity(ingredient.quantity * 2) %></span> <%= ingredient.unit %>
      <% end %>
      
      <%= ingredient.name %>
    </li>
    <% end %>
  </ul>
  <div class="recipe-actions">
    <a href="#" class="report-button ui-button-icon-only" title="Rapporter en fejl vedr. opskriften"></a>
    <p> Tilberedningstid: <%= (recipe.prep_time > 60) ? "60+" : recipe.prep_time %> min. </p>
  </div>
</li>
<% end %>