<% recipes.each do |recipe| %>
<li>
  
  <% if current_user and current_user.favorites.find_by_id( recipe.id ) %>
    <a href="<%= url_for controller: :favorites, action: :remove, id: recipe.id %>" class="favour-button favoured">Fjern opskrift fra favoritter</a>
  <% else %>
    <a href="<%= url_for controller: :favorites, action: :add, id: recipe.id %>" class="favour-button">Tilføj opskrift til favoritter</a>
  <% end %>
  <%= button_to "Tilføj til indkøbsliste", class: "addRecipe"  %>
  <!-- { controller: "shopping_list", action: "addRecipe", id: recipe.id } -->
  
  <h2><a href="<%= recipe.url %>"><%= recipe.name %></a></h2>
  <a href="<%= recipe.url %>">
    <img src="<%= url_for controller: :recipes, action: :picture, id: recipe.id %>" alt="Færdiglavet ret">
  </a>
  <div class="rating">
    <div style="width:<%= (recipe.calculate_rating ? recipe.calculate_rating : 0) * 100 %>%;"></div>
  </div>
  
  <% if search %>
    <% if recipe.relevance == 1 %>
      <p class="relevance"><%= recipe.relevance %> ingrediens matcher</p>
    <% else %>
      <p class="relevance"><%= recipe.relevance %> ingredienser matcher</p>
    <% end %>
  <% end %>
  
  <ul>
    <% recipe.ingredients.each do |ingredient| %>
	<li>
      <% if ingredient.quantity > 0 #TODO: brug antal personer! %>
        <span data-value="<%= ingredient.quantity %>"><%= format_quantity(ingredient.quantity * 2) %></span> <%= ingredient.unit %>
      <% end %>
      
      <%= ingredient.name %>

    </li>
    <% end %>
  </ul>
  <div class="recipe-actions">
    <a href="#" class="report-button ui-button-icon-only" title="Rapporter en fejl vedr. opskriften"></a>
    <p> Tilberedningstid: <%= (recipe.prep_time > 60) ? "60+" : recipe.prep_time %> min. </p>
  </div>
</li>
<% end %>