<%= render partial: 'form' %>

<div id="shopping_list">
  <div class="blue_line_vertical"></div>
    <div id="shopping_list_title">
      <h1>
        Indkøbsliste
      </h1>
    </div>
    <div id="list">
    <ul>
      <div class="blue_line_horisontal"></div>

      <% @shopping_list.each do |item| %>
            <li data-id="<%= item.id %>"><%= item.quantity %> <%= item.unit %> <%= item.name %><a href="#"></a></li>
        <div class="blue_line_horisontal"></div>
      <% end %>
    </ul>
    </div>
</div>

