

<div id="Edit_page">
  <div id="Register_user">
  <h1>Opdatér din profil</h1>
  <%= form_for @user do |f| %>
    <%= render 'shared/error_messages' %>

    <div class="input">
      <%= f.email_field :email, class: "text" %>
    </div>

    <div class=input>
      <%= f.password_field :old_password, class: "text", placeholder: "Nuværende kodeord" %>
    </div>

    <div class="input">
      <%= f.password_field :password, class: "text", placeholder: "Nyt kodeord" %>
    </div>

    <div class="input">
      <%= f.password_field :password_confirmation, class: "text", placeholder: "Bekræft nyt kodeord" %>
    </div>

    <div class="actions">
      <%= f.submit "Gem ændringer", class: "button" %>
    </div>
  <% end %>
  </div>
  <div id="pinapple">
    <%=image_tag "pineapple.png" %>
  </div>
</div>
