
<div id="Login_page">
  <div id="Register_user">
    <h1>
      Opret bruger på Foodl
    </h1>
    <%= form_for @user do |f| %>
    <div class="input">
      <%= f.label(:name, "Brugernavn:")%>
      <%= f.text_field(:name) %>
    </div>
    <div class="input">
      <%= f.label(:email, "E-mail adresse:")%>
      <%= f.email_field(:email) %>
    </div>
    <div class="input">
      <%= f.label(:password, "kodeord:")%>
      <%= f.password_field(:password)%>
    </div>
    <div class="input">
      <%= f.label(:password_confirmation, "Bekræft kodeord:")%>
      <%= f.password_field(:password_confirmation)%>
    </div>
    <div>
      <input type="submit" class="button" value="Opret" />
    </div>
    <% end %>
  </div>

  <div id="Login_content">
    <div id="login_dialog">
      <h1>
        Log på Foodl
      </h1>
      <div id="get_brugernavn_box" style="height: 40px">
        <form action="/" method="get">
          <input type="text" class="text" id="brugernavn" title="Brugernavn" />
        </form>
      </div>
      <div id="get_password_box">
        <form action="/" method="get">
          <input type="password" class="text" id="password" title="Kodeord" />
        </form>
      </div>
      <div id="login_button">
        <input type="submit" class="button" value="Log ind" />
      </div>
    </div>
    <div id="create_new_user"> 
        <a href="#">Glemt password? Få hjælp her</a>
    </div>
  </div>
  <div style="clear:both"> </div>
</div>
